// Colours 
$color-primary: #6a6b6d;
$color-white: #fff;
$color-black: #000;
$color-background: #f4f5f9;
$color-background-one: #ffa500;
$color-background-two: #1daadf;
$color-background-three: #32cc00;
$color-one: #ff42a0;
$color-two: #ffd0e7;
$color-three: #3333ff;
$color-four: #cdcdff;
$color-five: #ff3333;
$color-six: #008000;
$color-seven: #ffd500;
$color-eight: #aaabac;

// Fonts 
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Handlee', cursive;

// Root
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $color-background;
    font-size: 1.1rem;
    color: $color-primary;
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
    text-decoration: none;
	list-style-type: none;
}