.about-container {
    margin: 3rem 0rem;
    padding: 1rem 3.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.promo {
    padding: 0rem 3.5rem;
    margin-bottom: 5rem;
    
    &-header {
        color: #ff42a0;
        margin-bottom: 2rem;
    }
}

.hot {
    padding: 0rem 3.5rem;
    margin-bottom: 5rem;

    &-header {
        color: #3333ff;
        margin-bottom: 2rem;
    }
}

.sales {
    padding: 0rem 3.5rem;

    &-grid-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 1rem;
    }

    &-grid-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}

.stock {
    padding: 0rem 3.5rem;
    margin-bottom: 2rem;
    
    &-header {
        color: $color-primary;
        margin-bottom: 2rem;
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
}