.about-container {
    margin: 3rem 0rem;
    padding: 1rem 3.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.promo {
    padding: 0rem 3.5rem;
    margin-bottom: 5rem;
    
    &-header {
        color: #ff42a0;
        margin-bottom: 2rem;
    }
}

.hot {
    padding: 0rem 3.5rem;
    margin-bottom: 5rem;

    &-header {
        color: #3333ff;
        margin-bottom: 2rem;
    }
}