*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #f4f5f9;
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  text-decoration: none;
  list-style-type: none; }

.about-container {
  margin: 3rem 0rem;
  padding: 1rem 3.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; }

.title-1 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2.5rem; }

.text-1 {
  font-family: "Raleway", sans-serif;
  line-height: 1.7rem;
  margin-bottom: 2.5rem; }

.title-2 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 1.5rem;
  line-height: 3.5rem;
  font-weight: 700;
  font-size: 2.8rem; }

.text-2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  line-height: 1.7rem;
  margin-bottom: 1.0rem; }

.nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0rem 3.5rem;
  font-family: "Raleway", sans-serif;
  color: #6a6b6d; }
  .nav-img {
    height: 35px;
    width: 35px; }
  .nav-logo {
    font-size: 1.8rem;
    font-weight: 700;
    width: 20%;
    color: #6a6b6d; }
  .nav-toggle {
    display: none; }
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; }
    .nav-menu-responsive {
      display: inline-block;
      width: 70%; }
      .nav-menu-responsive-label {
        display: none;
        text-align: right;
        margin-bottom: 1rem;
        font-weight: 700; }
  .nav-search {
    width: 75%;
    background: #fff;
    height: 46px;
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none; }
    .nav-search-input {
      font-family: inherit;
      font-size: inherit;
      color: black;
      background-color: white;
      border: none;
      padding: .7rem 2rem;
      width: 90%;
      transition: all .2s;
      margin-right: -3.25rem; }
      .nav-search-input:focus {
        outline: none;
        width: 100%;
        background-color: white; }
      .nav-search-input::-webkit-input-placeholder {
        font-weight: 300;
        color: darkgray; }
    .nav-search-button {
      height: 46px;
      outline: none;
      background: none;
      border: none; }
  .nav-link {
    text-decoration: none;
    color: #6a6b6d;
    font-weight: 600; }
    .nav-link:hover {
      text-decoration: underline; }

.carousel {
  height: 70vh;
  margin-top: 1rem; }
  .carousel-item {
    height: 100%;
    width: 75%;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 2rem 3rem; }
    .carousel-item-info {
      color: #fff;
      width: 60%;
      padding: 0rem 2.5rem; }
    .carousel-item-image {
      width: 60%; }
  .carousel-img {
    width: 100%;
    height: auto; }
  .carousel-1 {
    background-color: #32cc00; }
  .carousel-2 {
    background-color: #ffa500; }
  .carousel-3 {
    background-color: #1daadf; }

.carousel .flickity-prev-next-button.previous {
  left: 210px; }

.carousel .flickity-prev-next-button.next {
  right: 210px; }

.btn {
  text-decoration: none;
  background: #fff;
  color: #6a6b6d;
  padding: .6rem 1.3rem;
  border-radius: 25px; }

.btn-2 {
  font-weight: 500; }
  .btn-2:link, .btn-2:visited {
    color: #6a6b6d;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #6a6b6d;
    padding: 3px;
    transition: all .2s; }
  .btn-2:hover {
    background-color: #6a6b6d;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(41, 43, 44, 0.15);
    transform: translateY(-2px); }

.about-card {
  padding: 3.0rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #6a6b6d;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px; }
