*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #f4f5f9;
  font-size: 1.1rem;
  color: #6a6b6d;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  text-decoration: none;
  list-style-type: none; }

.about-container {
  margin: 3rem 0rem;
  padding: 1rem 3.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; }

.promo {
  padding: 0rem 3.5rem;
  margin-bottom: 5rem; }
  .promo-header {
    color: #ff42a0;
    margin-bottom: 2rem; }

.hot {
  padding: 0rem 3.5rem;
  margin-bottom: 5rem; }
  .hot-header {
    color: #3333ff;
    margin-bottom: 2rem; }

.sales {
  padding: 0rem 3.5rem; }
  .sales-grid-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 1rem; }
  .sales-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem; }

.stock {
  padding: 0rem 3.5rem;
  margin-bottom: 2rem; }
  .stock-header {
    color: #6a6b6d;
    margin-bottom: 2rem; }
  .stock-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem; }

.title-1 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2.5rem; }

.text-1 {
  font-family: "Raleway", sans-serif;
  line-height: 1.7rem;
  margin-bottom: 2.5rem; }

.title-2 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 1.5rem;
  line-height: 3rem;
  font-weight: 700;
  font-size: 2.8rem; }

.text-2 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.7rem;
  margin-bottom: 1.0rem; }

.title-3 {
  margin-bottom: 0rem;
  line-height: 5rem;
  font-size: 4.5rem;
  font-weight: 600; }

.text-center {
  text-align: center; }

.primary {
  font-family: "Raleway", sans-serif; }

.handwriting {
  font-family: "Handlee", cursive; }

.med-text {
  font-size: 2.0rem;
  line-height: 2.5rem; }

.sm-text {
  font-size: 1.5rem; }

.nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0rem 3.5rem;
  font-family: "Raleway", sans-serif;
  color: #6a6b6d; }
  .nav-img {
    height: 35px;
    width: 35px; }
  .nav-logo {
    font-size: 1.8rem;
    font-weight: 700;
    width: 20%;
    color: #6a6b6d; }
  .nav-toggle {
    display: none; }
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; }
    .nav-menu-responsive {
      display: inline-block;
      width: 70%; }
      .nav-menu-responsive-label {
        display: none;
        text-align: right;
        margin-bottom: 1rem;
        font-weight: 700; }
  .nav-search {
    width: 75%;
    background: #fff;
    height: 46px;
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none; }
    .nav-search-input {
      font-family: inherit;
      font-size: inherit;
      color: black;
      background-color: white;
      border: none;
      padding: .7rem 2rem;
      border-radius: 5px;
      width: 90%;
      transition: all .2s;
      margin-right: -3.25rem; }
      .nav-search-input:focus {
        outline: none;
        width: 100%;
        background-color: white; }
      .nav-search-input::-webkit-input-placeholder {
        font-weight: 400; }
    .nav-search-button {
      height: 46px;
      outline: none;
      background: none;
      border: none; }
  .nav-link {
    text-decoration: none;
    color: #6a6b6d;
    font-weight: 600;
    margin: 0 0.3rem; }
    .nav-link:hover {
      text-decoration: underline; }

.carousel {
  height: 70vh;
  margin-top: 1rem; }
  .carousel-item {
    height: 100%;
    width: 75%;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding: 2rem 3rem; }
    .carousel-item-info {
      color: #fff;
      width: 60%;
      padding: 0rem 2.5rem; }
    .carousel-item-image {
      width: 60%; }
  .carousel-img {
    width: 100%;
    height: auto; }
  .carousel-1 {
    background-color: #ffa500; }
  .carousel-2 {
    background-color: #1daadf; }
  .carousel-3 {
    background-color: #32cc00; }

.carousel .flickity-prev-next-button.previous {
  left: 10.5rem; }

.carousel .flickity-prev-next-button.next {
  right: 10.5rem; }

.btn {
  text-decoration: none;
  background: #fff;
  color: #6a6b6d;
  padding: .6rem 1.3rem;
  border-radius: 25px; }

.btn-small {
  text-decoration: none;
  padding: .2rem .9rem;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 500; }

.btn-pink {
  background-color: #ff42a0;
  color: #fff; }

.btn-blue {
  background-color: #3333ff;
  color: #fff; }

.btn-2 {
  font-weight: 500; }
  .btn-2:link, .btn-2:visited {
    color: #6a6b6d;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #6a6b6d;
    padding: 3px;
    transition: all .2s; }
  .btn-2:hover {
    background-color: #6a6b6d;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(41, 43, 44, 0.15);
    transform: translateY(-2px); }

.about-card {
  padding: 3.0rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #6a6b6d;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px; }

.promo-card {
  background-color: #fff;
  color: #6a6b6d;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin: 0 2rem; }
  .promo-card-top {
    height: 15rem;
    width: 15rem;
    position: relative;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px; }
    .promo-card-top-img {
      height: 13rem;
      width: 12rem;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); }
  .promo-card-bottom {
    height: auto;
    width: 15rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .promo-card-bottom-rating {
      font-size: 0.9rem;
      margin-bottom: 0.3rem; }
    .promo-card-bottom-title {
      margin-bottom: 0.1rem; }
    .promo-card-bottom-text {
      display: inline-block;
      font-size: 0.75rem;
      margin-bottom: 0.35rem; }
    .promo-card-bottom-price {
      font-weight: 700;
      font-size: 1rem; }
    .promo-card-bottom-button {
      margin-top: 1rem;
      text-transform: uppercase; }

.sales-card {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 3rem 3.5rem;
  color: #6a6b6d;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px; }
  .sales-card-text {
    width: 50%; }
  .sales-card-img {
    position: relative;
    display: flex; }
    .sales-card-img-1 {
      width: 20rem;
      height: 25rem; }
    .sales-card-img-2 {
      width: 25rem;
      height: 30rem;
      position: absolute;
      left: 12rem; }
  .sales-card-2 {
    padding: 3.0rem 3.5rem;
    display: flex;
    width: 100%;
    height: auto;
    background-color: #fff;
    color: #6a6b6d;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px; }
    .sales-card-2-text {
      width: 50%; }
    .sales-card-2-img {
      position: relative; }
      .sales-card-2-img-1 {
        width: 12rem;
        height: 12rem;
        margin-left: 3rem; }
      .sales-card-2-img-2 {
        width: 12rem;
        height: 12rem;
        margin-left: 3rem; }

.promo-color {
  color: #ff42a0; }

.promo-background {
  background-color: #ffd0e7; }

.hot-color {
  color: #3333ff; }

.hot-background {
  background-color: #cdcdff; }

.line-through {
  text-decoration: line-through;
  color: #6a6b6d; }

.sale-col-1 {
  color: #ff3333; }

.sale-col-2 {
  color: #008000; }

.sale-col-3 {
  color: #ffd500; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 4rem; }
