*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #f4f5f9;
  font-size: 1.1rem;
  color: #6a6b6d;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  text-decoration: none;
  list-style-type: none; }

.about-container {
  margin: 3rem 0rem;
  padding: 1rem 3.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; }
  @media only screen and (max-width: 630px) {
    .about-container {
      grid-template-columns: repeat(1, 1fr); } }

.promo {
  padding: 0rem 3.5rem;
  margin-bottom: 5rem; }
  .promo-header {
    color: #ff42a0;
    margin-bottom: 2rem; }

.hot {
  padding: 0rem 3.5rem;
  margin-bottom: 5rem; }
  .hot-header {
    color: #3333ff;
    margin-bottom: 2rem; }

.sales {
  padding: 0rem 3.5rem; }
  .sales-grid-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 1rem; }
  .sales-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem; }
    @media only screen and (max-width: 630px) {
      .sales-grid-2 {
        grid-template-columns: repeat(1, 1fr); } }

.stock {
  padding: 0rem 3.5rem;
  margin-bottom: 2rem; }
  .stock-header {
    color: #6a6b6d;
    margin-bottom: 2rem; }
  .stock-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem; }
    @media only screen and (min-width: 1700px) {
      .stock-grid {
        grid-gap: 7.5rem; } }
    @media only screen and (max-width: 900px) {
      .stock-grid {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 630px) {
      .stock-grid {
        grid-template-columns: repeat(1, 1fr); } }

.title-1 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2.5rem; }
  @media only screen and (min-width: 1700px) {
    .title-1 {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 900px) {
    .title-1 {
      font-size: 1.4rem; } }

.text-1 {
  font-family: "Raleway", sans-serif;
  line-height: 1.7rem;
  margin-bottom: 2.5rem; }
  @media only screen and (min-width: 1700px) {
    .text-1 {
      font-size: 1.5rem;
      line-height: 2rem; } }
  @media only screen and (max-width: 900px) {
    .text-1 {
      font-size: 0.8rem; } }
  @media only screen and (max-width: 630px) {
    .text-1 {
      font-size: 0.3rem;
      line-height: 1.0rem; } }

.title-2 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 1.5rem;
  line-height: 3rem;
  font-weight: 700;
  font-size: 2.8rem; }
  @media only screen and (min-width: 1700px) {
    .title-2 {
      font-size: 1.5rem;
      line-height: 3.5rem; } }
  @media only screen and (max-width: 900px) {
    .title-2 {
      font-size: 1.4rem;
      line-height: 2rem; } }
  @media only screen and (max-width: 630px) {
    .title-2 {
      font-size: 0.8rem;
      line-height: 1rem; } }

.text-2 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.7rem;
  margin-bottom: 1.0rem; }
  @media only screen and (min-width: 1700px) {
    .text-2 {
      font-size: 1.2rem;
      line-height: 2rem; } }
  @media only screen and (max-width: 900px) {
    .text-2 {
      font-size: 0.8rem;
      line-height: 1rem; } }
  @media only screen and (max-width: 630px) {
    .text-2 {
      font-size: 0.3rem;
      line-height: 1rem; } }

.title-3 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 0rem;
  line-height: 5rem;
  font-size: 4.5rem;
  font-weight: 600; }
  @media only screen and (max-width: 1200px) {
    .title-3 {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 900px) {
    .title-3 {
      font-size: 1.6rem;
      line-height: 2rem; } }
  @media only screen and (max-width: 630px) {
    .title-3 {
      font-size: 0.8rem;
      line-height: 1.6rem; } }

.text-center {
  text-align: center; }

.primary {
  font-family: "Raleway", sans-serif; }

.handwriting {
  font-family: "Handlee", cursive; }

.med-text {
  font-size: 2.0rem;
  line-height: 2.5rem; }
  @media only screen and (max-width: 1200px) {
    .med-text {
      font-size: 1.2rem;
      line-height: 2rem; } }
  @media only screen and (max-width: 900px) {
    .med-text {
      font-size: 1rem;
      line-height: 1.5rem; } }
  @media only screen and (max-width: 630px) {
    .med-text {
      font-size: 0.5rem;
      line-height: 1rem; } }

.sm-text {
  font-size: 1.5rem; }

.nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0rem 3.5rem;
  font-family: "Raleway", sans-serif;
  color: #6a6b6d; }
  @media only screen and (max-width: 900px) {
    .nav {
      padding: 0rem .8rem; } }
  @media only screen and (max-width: 630px) {
    .nav {
      padding: 0rem .5rem; } }
  .nav-logo {
    font-size: 1.8rem;
    font-weight: 700;
    width: 20%;
    color: #6a6b6d; }
    @media only screen and (max-width: 900px) {
      .nav-logo {
        font-size: 1rem; } }
    @media only screen and (max-width: 630px) {
      .nav-logo {
        font-size: 0.835rem; } }
  .nav-toggle {
    display: none; }
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; }
    .nav-menu-responsive {
      display: inline-block;
      width: 70%; }
      .nav-menu-responsive-label {
        display: none;
        text-align: right;
        margin-bottom: 1rem;
        font-weight: 700; }
  .nav-search {
    width: 75%;
    background: #fff;
    height: 46px;
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none; }
    @media only screen and (max-width: 630px) {
      .nav-search {
        width: 75%;
        height: 10px;
        font-size: 10px; } }
    .nav-search-input {
      font-family: inherit;
      font-size: inherit;
      color: black;
      background-color: #fff;
      border: none;
      padding: .7rem 2rem;
      border-radius: 5px;
      width: 90%;
      transition: all .2s;
      margin-right: -1.8rem; }
      @media only screen and (max-width: 630px) {
        .nav-search-input {
          height: 20px;
          padding: .3rem .7rem;
          margin-left: 1rem; } }
      .nav-search-input:focus {
        outline: none;
        width: 100%;
        background-color: #fff; }
      .nav-search-input::-webkit-input-placeholder {
        font-weight: 400; }
        @media only screen and (max-width: 630px) {
          .nav-search-input::-webkit-input-placeholder {
            font-size: 10px; } }
    .nav-search-button {
      height: 46px;
      outline: none;
      background: none;
      border: none;
      cursor: pointer; }
      @media only screen and (max-width: 630px) {
        .nav-search-button {
          height: 4px;
          width: 4px;
          margin-left: 10px;
          margin-bottom: 5px; } }
  .nav-link {
    text-decoration: none;
    color: #6a6b6d;
    font-weight: 600;
    margin: 0 0.3rem; }
    @media only screen and (max-width: 900px) {
      .nav-link {
        font-size: 1rem; } }
    @media only screen and (max-width: 630px) {
      .nav-link {
        padding: 0.5rem 0;
        font-size: 0.8rem; } }
    .nav-link:hover {
      text-decoration: underline; }

.btn {
  text-decoration: none;
  background: #fff;
  color: #6a6b6d;
  padding: .6rem 1.3rem;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px; }
  @media only screen and (min-width: 1700px) {
    .btn {
      font-size: 1.4rem;
      padding: .9rem 1.6rem; } }
  @media only screen and (max-width: 900px) {
    .btn {
      font-size: 0.8rem;
      padding: .4rem 1.2rem; } }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-small {
  text-decoration: none;
  padding: .2rem .9rem;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 1rem;
  font-weight: 500; }
  .btn-small:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn-small:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn-small:active, .btn-small:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-med {
  text-decoration: none;
  padding: .45rem 1.1rem;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 1.3rem;
  font-weight: 500; }
  @media only screen and (max-width: 350px) {
    .btn-med {
      font-size: 0.7rem;
      padding: .3rem 0.6rem; } }
  .btn-med:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn-med:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn-med:active, .btn-med:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-2 {
  font-weight: 500; }
  @media only screen and (max-width: 1200px) {
    .btn-2 {
      font-size: 1rem; } }
  @media only screen and (max-width: 900px) {
    .btn-2 {
      font-size: 0.5rem; } }
  @media only screen and (max-width: 630px) {
    .btn-2 {
      font-size: 0.3rem;
      line-height: 1rem; } }
  .btn-2:link, .btn-2:visited {
    color: #6a6b6d;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #6a6b6d;
    padding: 3px;
    transition: all .2s; }
  .btn-2:hover {
    background-color: #6a6b6d;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); }

.submit-btn {
  text-decoration: none;
  background: #fff;
  color: #6a6b6d;
  padding: .6rem 1.3rem;
  text-align: center;
  margin-top: 10px;
  margin-left: 8.5rem;
  border: none;
  cursor: pointer;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 630px) {
    .submit-btn {
      margin-left: 6rem; } }
  @media only screen and (max-width: 350px) {
    .submit-btn {
      margin-left: 3.5rem; } }
  .submit-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .submit-btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .submit-btn:active, .submit-btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 22px;
  right: 25px;
  border: none;
  cursor: pointer;
  color: #6a6b6d; }
  .close-btn:focus {
    outline: none; }

.carousel {
  height: 70vh;
  margin-top: 1rem; }
  @media only screen and (max-width: 900px) {
    .carousel {
      position: relative;
      height: 21rem; } }
  @media only screen and (max-width: 900px) {
    .carousel {
      height: 18rem; } }
  .carousel-item {
    height: 70vh;
    width: 75%;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding: 2rem 3rem; }
    @media only screen and (max-width: 900px) {
      .carousel-item {
        display: block;
        width: 100%;
        height: 21rem;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px; } }
    @media only screen and (max-width: 630px) {
      .carousel-item {
        height: 18rem; } }
    .carousel-item-info {
      color: #fff;
      width: 60%;
      padding: 0rem 2.5rem; }
      @media only screen and (max-width: 900px) {
        .carousel-item-info {
          padding: 0rem 0rem;
          margin-bottom: 0.1rem; } }
    .carousel-item-image {
      width: 60%; }
      @media only screen and (max-width: 900px) {
        .carousel-item-image {
          position: absolute;
          width: 38%;
          right: 1rem;
          top: 1rem; } }
  .carousel-img {
    width: 100%;
    height: auto; }
  .carousel-1 {
    background-color: #ffa500; }
  .carousel-2 {
    background-color: #1daadf; }
  .carousel-3 {
    background-color: #32cc00; }

.carousel .flickity-prev-next-button.previous {
  left: 10.5rem; }
  @media only screen and (max-width: 900px) {
    .carousel .flickity-prev-next-button.previous {
      left: 1.5rem; } }

.carousel .flickity-prev-next-button.next {
  right: 10.5rem; }
  @media only screen and (max-width: 900px) {
    .carousel .flickity-prev-next-button.next {
      right: 1.5rem; } }

.about-card {
  padding: 3.0rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #6a6b6d;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px; }
  @media only screen and (max-width: 900px) {
    .about-card {
      padding: 1.5rem 2.5rem; } }
  @media only screen and (max-width: 630px) {
    .about-card {
      padding: 1rem 1.5rem; } }

.promo-card {
  background-color: #fff;
  color: #6a6b6d;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin: 0 2rem; }
  .promo-card-top {
    height: 15rem;
    width: 15rem;
    position: relative;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px; }
    .promo-card-top-img {
      height: 13rem;
      width: 12rem;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); }
  .promo-card-bottom {
    height: auto;
    width: 15rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .promo-card-bottom-rating {
      font-size: 0.9rem;
      margin-bottom: 0.3rem; }
    .promo-card-bottom-title {
      margin-bottom: 0.1rem; }
    .promo-card-bottom-text {
      display: inline-block;
      font-size: 0.75rem;
      margin-bottom: 0.35rem; }
    .promo-card-bottom-price {
      font-weight: 700;
      font-size: 1rem; }
    .promo-card-bottom-button {
      margin-top: 1rem;
      text-transform: uppercase; }

.sales-card {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 3rem 3.5rem;
  color: #6a6b6d;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px; }
  @media only screen and (max-width: 900px) {
    .sales-card {
      padding: 2rem 2.5rem; } }
  @media only screen and (max-width: 630px) {
    .sales-card {
      padding: 1.5rem 2.0rem; } }
  .sales-card-text {
    width: 50%; }
    @media only screen and (max-width: 1200px) {
      .sales-card-text {
        width: 40%; } }
    @media only screen and (max-width: 900px) {
      .sales-card-text {
        width: 30%; } }
    @media only screen and (max-width: 630px) {
      .sales-card-text {
        width: 25%; } }
  .sales-card-img {
    position: relative;
    display: flex; }
    .sales-card-img-1 {
      width: 20rem;
      height: 25rem; }
      @media only screen and (min-width: 1700px) {
        .sales-card-img-1 {
          width: 29rem;
          height: 34rem; } }
      @media only screen and (max-width: 900px) {
        .sales-card-img-1 {
          width: 13rem;
          height: 13rem; } }
      @media only screen and (max-width: 630px) {
        .sales-card-img-1 {
          width: 8rem;
          height: 8rem; } }
      @media only screen and (max-width: 350px) {
        .sales-card-img-1 {
          width: 5.8rem;
          height: 5.8rem;
          padding-left: 1rem; } }
    .sales-card-img-2 {
      width: 25rem;
      height: 30rem;
      position: absolute;
      left: 12rem; }
      @media only screen and (min-width: 1700px) {
        .sales-card-img-2 {
          width: 30rem;
          height: 35rem;
          left: 18rem; } }
      @media only screen and (max-width: 1200px) {
        .sales-card-img-2 {
          width: 20rem;
          height: 25rem; } }
      @media only screen and (max-width: 900px) {
        .sales-card-img-2 {
          width: 15rem;
          height: 15rem;
          left: 9rem; } }
      @media only screen and (max-width: 630px) {
        .sales-card-img-2 {
          width: 8rem;
          height: 8rem;
          left: 4.5rem; } }
      @media only screen and (max-width: 350px) {
        .sales-card-img-2 {
          width: 5.8rem;
          height: 5.8rem;
          left: 4rem; } }
  .sales-card-2 {
    padding: 3.0rem 3.5rem;
    display: flex;
    width: 100%;
    height: auto;
    background-color: #fff;
    color: #6a6b6d;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px; }
    @media only screen and (max-width: 1200px) {
      .sales-card-2 {
        padding: 2.0rem 2.3rem; } }
    @media only screen and (max-width: 900px) {
      .sales-card-2 {
        width: 90%;
        margin-left: 1vh; } }
    @media only screen and (max-width: 630px) {
      .sales-card-2 {
        width: 65%;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-left: 9vw; } }
    .sales-card-2-text {
      width: 50%; }
      @media only screen and (max-width: 900px) {
        .sales-card-2-text {
          width: 35%; } }
      @media only screen and (max-width: 630px) {
        .sales-card-2-text {
          width: 35%; } }
    .sales-card-2-img {
      position: relative; }
      .sales-card-2-img-1 {
        width: 12rem;
        height: 12rem;
        margin-left: 3rem; }
        @media only screen and (min-width: 1700px) {
          .sales-card-2-img-1 {
            width: 15rem;
            height: 15rem; } }
        @media only screen and (max-width: 1200px) {
          .sales-card-2-img-1 {
            width: 9.5rem;
            height: 9.5rem; } }
        @media only screen and (max-width: 900px) {
          .sales-card-2-img-1 {
            width: 5rem;
            height: 5rem; } }
      .sales-card-2-img-2 {
        width: 12rem;
        height: 12rem;
        margin-left: 3rem; }
        @media only screen and (min-width: 1700px) {
          .sales-card-2-img-2 {
            width: 15rem;
            height: 15rem; } }
        @media only screen and (max-width: 1200px) {
          .sales-card-2-img-2 {
            width: 9.5rem;
            height: 9.5rem; } }
        @media only screen and (max-width: 900px) {
          .sales-card-2-img-2 {
            width: 5rem;
            height: 5rem; } }
        @media only screen and (max-width: 630px) {
          .sales-card-2-img-2 {
            width: 4.9rem;
            height: 4.9rem; } }

.stock-card {
  color: #6a6b6d;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-bottom: 2rem;
  width: 100%; }
  .stock-card-top {
    height: 20rem;
    width: 100%;
    position: relative;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px; }
    .stock-card-top-img {
      height: 18rem;
      width: 18rem;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); }
      @media only screen and (min-width: 1700px) {
        .stock-card-top-img {
          width: 20rem;
          height: 20rem; } }
      @media only screen and (max-width: 1200px) {
        .stock-card-top-img {
          width: 14rem;
          height: 14rem; } }
      @media only screen and (max-width: 350px) {
        .stock-card-top-img {
          width: 11rem;
          height: 11rem; } }
  .stock-card-bottom {
    height: auto;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff; }
    .stock-card-bottom-rating {
      font-size: 1.3rem;
      margin-bottom: 0.3rem;
      text-align: center; }
      @media only screen and (max-width: 1200px) {
        .stock-card-bottom-rating {
          font-size: 1.1rem; } }
      @media only screen and (max-width: 630px) {
        .stock-card-bottom-rating {
          font-size: 0.8rem; } }
    .stock-card-bottom-title {
      margin-bottom: 0.1rem;
      font-size: 1.5rem;
      text-align: center; }
      @media only screen and (max-width: 1200px) {
        .stock-card-bottom-title {
          font-size: 1.3rem; } }
      @media only screen and (max-width: 630px) {
        .stock-card-bottom-title {
          font-size: 1rem; } }
    .stock-card-bottom-text {
      margin-left: 1.1rem;
      margin-bottom: .4rem;
      text-align: center; }
      @media only screen and (max-width: 630px) {
        .stock-card-bottom-text {
          font-size: 0.8rem; } }
    .stock-card-bottom-price {
      font-weight: 700;
      font-size: 1.3rem; }
      @media only screen and (max-width: 1200px) {
        .stock-card-bottom-price {
          font-size: 1.1rem; } }
      @media only screen and (max-width: 630px) {
        .stock-card-bottom-price {
          font-size: 1rem; } }

.promo-color {
  color: #ff42a0; }

.promo-background {
  background-color: #ffd0e7; }

.hot-color {
  color: #3333ff; }

.hot-background {
  background-color: #cdcdff; }

.stock-background {
  background-color: #aaabac; }

.line-through {
  text-decoration: line-through;
  color: #6a6b6d; }

.sale-col-1 {
  color: #ff3333; }

.sale-col-2 {
  color: #008000; }

.sale-col-3 {
  color: #ffd500; }

.btn-grey {
  background-color: #6a6b6d;
  color: #fff; }

.btn-pink {
  background-color: #ff42a0;
  color: #fff; }

.btn-blue {
  background-color: #3333ff;
  color: #fff; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 4rem; }

.footer {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 2.5rem 5rem; }
  .footer-nav {
    list-style: none;
    color: #000;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 0.938rem;
    align-items: center; }
    .footer-nav-link {
      color: #000;
      font-weight: 300;
      border-top-right-radius: 50px;
      border-top-left-radius: 50px; }
      .footer-nav-link:link, .footer-nav-link:visited {
        font-size: 1.2rem;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block; }
        @media only screen and (max-width: 350px) {
          .footer-nav-link:link, .footer-nav-link:visited {
            font-size: 0.7rem;
            padding: .3rem 0.6rem; } }
      .footer-nav-link:hover, .footer-nav-link:active {
        background-color: rgba(106, 107, 109, 0.05);
        transform: translateY(-3px);
        color: #000; }
  .footer-copyright {
    font-size: 0.875rem;
    margin-top: 3.75rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 70%;
    color: #000; }

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.modal-container.show-modal {
  display: block; }

.modal {
  background-color: #f4f5f9;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 25rem;
  animation-name: modalopen;
  animation-duration: 1s; }
  @media only screen and (max-width: 630px) {
    .modal {
      width: 20rem; } }
  @media only screen and (max-width: 350px) {
    .modal {
      width: 15rem; } }

.modal-header {
  color: #6a6b6d;
  padding: 0.938rem; }

.modal-title {
  margin: 5px 5px;
  border-bottom: 1px solid #6a6b6d; }

.modal-content {
  padding: 10px 20px; }

.modal-form div {
  margin: 10px 0; }

.modal-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700; }

.modal-form .form-input {
  padding: 8px;
  width: 100%;
  font-weight: 300;
  border-radius: 5px;
  border: none; }
  .modal-form .form-input:focus {
    outline-color: #6a6b6d; }

.modal-error {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 4.5rem; }
  .modal-error-text {
    font-size: 1.4rem;
    font-weight: 400; }
    .modal-error-text-icon {
      font-size: 5rem;
      margin-left: 5rem;
      margin-bottom: 2rem; }

@keyframes modalopen {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
